		<div class="footer" id="ftRedirect">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Produits</h4>
							<li><a href="#">Hommes</a></li>
							<li><a href="#">Femmes</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>À propos</h4>
							<li><a href="#">Carrière</a></li>
							<li><a href="#">Parrainage</a></li>
							<li><a href="#">Équipe</a></li>
							<li><a href="#">Notre catalogue</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Service Client</h4>
							<li><a href="#">Contacter nous</a></li>
							<li><a href="#">Livraison & suivi d'une commande</a></li>
							<li><a href="#">Remboursement</a></li>
							<li><a href="#">Garanti</a></li>
							<li><a href="#">Échange</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<ul class="footer_box">
							<h4>Abonnez-vous</h4>
							<div class="footer_search">
				    		   <form>
				    			<input type="text" value="Entrer votre email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Entrer votre email';}">
				    			<input type="submit" value="Aller">
				    		   </form>
					        </div>
							<ul class="social">	
							  <li class="facebook"><a href="#"><span> </span></a></li>
							  <li class="twitter"><a href="#"><span> </span></a></li>
							  <li class="instagram"><a href="https://www.instagram.com/cosmetics.ia/"><span> </span></a></li>	
							  <li class="pinterest"><a href="#"><span> </span></a></li>	
							  <li class="youtube"><a href="#"><span> </span></a></li>										  				
						    </ul>
		   					
						</ul>
					</div>
				</div>
				<div class="row footer_bottom">
				    <div class="copy">
					   <p class="my-2">L'achat d'article n'est pas autorisé sur ce site.</p>
			           <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
					   <p>Codé par Issam Abdelkrim - <a href="#" target="_blank">Projet de session en développement web</a></p>
					   <a href="https://www.cstj.qc.ca" target="_blank">CSTJ - 2023</a>
		            </div>
					<dl id="sample" class="dropdown">
				    	<dt><a href="#"><span>Changer de région</span></a></dt>
	   				</dl>
   				</div>
			</div>
        </div>    