:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.progress-container::before {
    content: "";
    background: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 5px;
    transform: translateY(-50%);
    height: 7px;
    width: 100%;
    z-index: -1;
}

.pgbFix {
    z-index: 0;
}

.progress-container {
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 300vh;
}

.progress {
    background: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 7px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
    background-color: var(--line-border-fill);
}